option_settings:
  - namespace: aws:elb:listener:443
    option_name: SSLCertificateId
    value: arn:aws:acm:eu-west-1:569796009809:certificate/3715cb2b-8a3a-4bca-8e8e-cad1b07348f8
  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: HTTPS
  - namespace: aws:elb:listener:443
    option_name: InstanceProtocol
    value: HTTPS
  - namespace: aws:elb:listener:443
    option_name: InstancePort
    value: 443