files:
  # Files in the location /opt/elasticbeanstalk/hooks/appdeploy/pre/
  # are executed before the app is deployed and are executed in alphabetical order.
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_pre_deployment_generate_Dockerrun_aws_json.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      echo 'Starting Deployment!!!' > /tmp/.starting_deployment

      echo "Environment: $ENVIRONMENT_NAME"  > /tmp/.starting_deployment

      mail -s 'Starting Deployment!!!' "ruben.pulido@liferay.com" < /dev/null

      cd ${EB_DIR}

      # Copy template Dockerrun.aws.json and replace template vars

      rm /var/app/current/Dockerrun.aws.json || true

      cp /var/app/current/Dockerrun.aws.json.template /var/app/current/Dockerrun.aws.json

      if [ -f "${EB_DIR}/config.properties" ]; then
      printf "Config: \n"
      while IFS="=" read -r key value; do
        case "$key" in
        '#'*) ;;
        *)
        printf "%s %s %s\n" ${key}=${value}
      sed -i -e "s/<${key}>/${value}/" /var/app/current/Dockerrun.aws.json
      esac
      done < "${EB_DIR}/config.properties"
      printf "\n"
      fi

      DOCKER_IMAGE_VERSION=$(cat /var/app/current/environments/docker-image-versions/docker-image-version-$ENVIRONMENT_NAME)
      sed -i -e "s/<DOCKER_IMAGE_VERSION>/$DOCKER_IMAGE_VERSION/" /var/app/current/Dockerrun.aws.json

      rm Dockerrun.aws.json-e || true
