files:
  # Files in the location /opt/elasticbeanstalk/hooks/appdeploy/pre/
  # are executed before the app is deployed and are executed in alphabetical order.
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_copy_environmentvariables_env.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      echo 'Copying environment variables for specific environment'
      echo "Environment: $ENVIRONMENT_NAME"
